<section class="post">
  <div class="container">
    <div class="row">
      <div class="col">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="postForm">
          <div class="postForm__group" formGroupName="firstNameAndLastName">

            <!-- First name -->
            <div class="postForm__element form-group">
              <label for="firstNameId" class="postForm__label">First name</label>
              <input type="text" id="firstNameId" class="postForm__text form-control" aria-describedby="textD"
                placeholder="Введите имя" formControlName="firstName"
                [ngClass]="{'has-error': form.get('firstNameAndLastName.firstName').invalid && form.get('firstNameAndLastName.firstName').touched}">
              <p class="postForm__validation"
                *ngIf="form.get('firstNameAndLastName.firstName').invalid && form.get('firstNameAndLastName.firstName').touched">
                <span class="postForm__error form-text text-muted" id="textD"
                  *ngIf="form.get('firstNameAndLastName.firstName').errors['required']">
                  Поле 'First name' не должно быть пустым!
                </span>
                <span class="postForm__error form-text text-muted" id="textD"
                  *ngIf="form.get('firstNameAndLastName.firstName').errors['onlyLettersError'] && form.get('firstNameAndLastName.firstName').value != ''">
                  Поле 'First name' должно содержать только буквы латинского алфавита!
                </span>
                <span class="postForm__error form-text text-muted" id="textD"
                  *ngIf="form.get('firstNameAndLastName.firstName').errors['lengthError'] && form.get('firstNameAndLastName.firstName').value != ''">
                  Поле 'First name' должно содержать не менее {{ charsCount }} символов!
                </span>
              </p>
            </div>

            <!-- Last name -->
            <div class="postForm__element form-group">
              <label for="lastNameId" class="postForm__label">Last name</label>
              <input type="text" id="lastNameId" class="postForm__text form-control" aria-describedby="textD"
                placeholder="Введите фамилию" formControlName="lastName"
                [ngClass]="{'has-error': form.get('firstNameAndLastName.lastName').invalid && form.get('firstNameAndLastName.lastName').touched}">
              <p class="postForm__validation"
                *ngIf="form.get('firstNameAndLastName.lastName').invalid && form.get('firstNameAndLastName.lastName').touched">
                <span class="postForm__error form-text text-muted" id="textD"
                  *ngIf="form.get('firstNameAndLastName.lastName').errors['required']">
                  Поле 'Last name' не должно быть пустым!
                </span>
                <span class="postForm__error form-text text-muted" id="textD"
                  *ngIf="form.get('firstNameAndLastName.lastName').errors['onlyLettersError'] && form.get('firstNameAndLastName.lastName').value != ''">
                  Поле 'Last name' должно содержать только буквы латинского алфавита!
                </span>
                <span class="postForm__error form-text text-muted" id="textD"
                  *ngIf="form.get('firstNameAndLastName.lastName').errors['lengthError'] && form.get('firstNameAndLastName.lastName').value != ''">
                  Поле 'Last name' должно содержать не менее {{ charsCount }} символов!
                </span>
              </p>
            </div>

          </div>

          <!-- Email -->
          <div class="postForm__element form-group">
            <label for="emailId" class="postForm__label">Email</label>
            <input type="text" id="emailId" class="postForm__text form-control" aria-describedby="textD"
              placeholder="Введите email" formControlName="email"
              [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
            <p class="postForm__validation" *ngIf="form.get('email').invalid && form.get('email').touched">
              <span class="postForm__error form-text text-muted" id="textD">Введите корректный email!</span>
            </p>
          </div>

          <!-- Company -->
          <div class="postForm__element form-group">
            <label for="companyId" class="postForm__label">Company</label>
            <input type="text" id="companyId" class="postForm__text form-control" aria-describedby="textD"
              placeholder="Введите название компании" formControlName="company"
              [ngClass]="{'has-error': form.get('company').invalid && form.get('company').touched}">
            <p class="postForm__validation" *ngIf="form.get('company').invalid && form.get('company').touched">
              <span class="postForm__error form-text text-muted" id="textD"
                *ngIf="form.get('company').errors['required']">
                Поле 'Company' не должно быть пустым!
              </span>
              <span class="postForm__error form-text text-muted" id="textD"
                *ngIf="form.get('company').errors['onlyLettersAndNumbersError'] &&  form.get('company').value != '' ">
                Поле 'Company' должно содержать только буквы латинского алфавита или цифры!
              </span>
            </p>
          </div>

          <!-- Phone -->
          <div class="postForm__element form-group">
            <label for="phoneId" class="postForm__label">Phone</label>
            <input type="tel" id="phoneId" class="postForm__text form-control" aria-describedby="textD"
              placeholder="Номер телефона (например:+3XXXXXXXXXX)" formControlName="phone"
              [ngClass]="{'has-error': form.get('phone').invalid && form.get('phone').touched}">
            <p class="postForm__validation" *ngIf="form.get('phone').invalid && form.get('phone').touched">
              <span class="postForm__error form-text text-muted" id="textD"
                *ngIf="form.get('phone').errors['required']">
                Поле 'Phone' не должно быть пустым!
              </span>
              <span class="postForm__error form-text text-muted" id="textD"
                *ngIf="form.get('phone').errors['pattern'] &&  form.get('phone').value != '' ">
                Введите корректный номер телефона!
              </span>
            </p>
          </div>

          <!-- Photo -->
          <div class="postForm__element form-group">
            <label for="photoId" class="postForm__label">Photo</label>
            <input type="file" id="photoId" class="postForm__text form-control-file" name="upload" value=""
              formControlName="photo"/>
          </div>

          <!-- Submit -->
          <button type="submit" class="postForm__submit form-control bg-primary"
            [disabled]="form.invalid">Добавить</button>

        </form>

        <div class="messageServer">
          <p class="messageServer__text text-muted">{{message}}</p>
        </div>

      </div>
    </div>
  </div>
</section>

