.post {
  .container {
    .postForm {
      margin-top: 30px;
      max-width: 95%;
      padding: 20px;
      border: 1px solid #007bff;
      box-shadow: 5px 5px 5px #888;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      .postForm__group {
        .postForm__element {
          .postForm__label {
            font-family: "Helvetica", sans-serif;
            font-style: normal;
            font-size: 15px;
          }
          .postForm__text {
            font-family: "Helvetica", sans-serif;
            font-style: normal;
            font-size: 15px;
          }
          .has-error {
            border: 1px solid red;
            box-shadow: 0 0 3px red;
          }
          .postForm__validation {
            .postForm__error {
              font-family: "Helvetica", sans-serif;
              font-style: normal;
              font-size: 13px;
            }
          }
        }
      }
      .postForm__element {
        .postForm__label {
          font-family: "Helvetica", sans-serif;
          font-style: normal;
          font-size: 15px;
        }
        .postForm__text {
          font-family: "Helvetica", sans-serif;
          font-style: normal;
          font-size: 15px;
        }
        .has-error {
          border: 1px solid red;
          box-shadow: 0 0 3px red;
        }
        .postForm__validation {
          .postForm__error {
            font-family: "Helvetica", sans-serif;
            font-style: normal;
            font-size: 13px;
          }
        }
      }
      .postForm__submit {
        margin: 0 auto 0 auto;
        width: 50%;
        font-family: "Helvetica", sans-serif;
        font-style: normal;
        font-size: 15px;
        color: whitesmoke;
      }
    }
    .messageServer {
      .messageServer__text {
        padding-top:15px; 
        text-align: center;
        font-family: "Helvetica", sans-serif;
        font-style: normal;
        font-size: 15px;
      }
    }
  }
}
