<div class="module-phoneBook">

  <header class="header" id="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="title">{{title}}</h5>
          <nav class="navMain">
            <ul class="navMain__container nav nav-justified">
              <li class="navMain__element nav-item" routerLinkActive="active">
                <a class="navMain__link nav-link" data-toggle="pill" routerLinkActive="active"
                  routerLink="http/post">Добавить</a></li>
              <li class="navMain__element nav-item">
                <a class="navMain__link nav-link" data-toggle="pill" routerLinkActive="active"
                  routerLink="http/get">Получить</a></li>
              <li class="navMain__element nav-item">
                <a class="navMain__link nav-link" data-toggle="pill" routerLinkActive="active"
                  routerLink="http/put">Изменить</a></li>
              <li class="navMain__element nav-item">
                <a class="navMain__link nav-link" data-toggle="pill" routerLinkActive="active"
                  routerLink="http/delete">Удалить</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

</div>