.description {
  margin-top: 20px;
  .table {
    .table__head {
      .table__headTr {
        .table__headTh {
          font-family: "Helvetica", sans-serif;
          font-style: normal;
          font-size: 12px;
        }
      }
    }
    .table__body {
      .table__bodyTr {
        .table__bodyTd {
          font-family: "Helvetica", sans-serif;
          font-style: normal;
          font-size: 12px;
          .table__bodyTdImg{
            max-width: 50px;
            max-height: 50px;
          }
        }
      }
    }
  }
}
