<section class="put">
  <div class="container">
    <div class="row">
      <div class="col">

        <form class="putForm" [formGroup]="form1" (ngSubmit)="onSubmit1()">
          <div class="putForm__group form-group">
            <label class="putForm__label" for="textId">Поиск контакта:</label>
            <div class="putForm__input-group input-group">
              <input class="putForm__text form-control" type="text" id="textId" aria-describedby="textD"
                placeholder="Введите имя" formControlName="firstName">
              <input class="putForm__text form-control" type="text" id="textId" aria-describedby="textD"
                placeholder="Введите фамилию" formControlName="lastName">
              <div class="putForm__button-container input-group-prepend">
                <button class="putForm__button btn btn-outline-secondary" type="submit"
                  [disabled]="form1.invalid">Найти</button>
              </div>
            </div>

            <p class="putForm__validation" *ngIf="form1.get('firstName').invalid && form1.get('firstName').touched">
              <span class="putForm__error form-text text-muted" id="textD"
                *ngIf="form1.get('firstName').errors['required']">Введите имя контакта!</span>
              <span class="putForm__error form-text text-muted" id="textD"
                *ngIf="form1.get('firstName').errors['pattern']">Имя контакта может содержать только латинские
                буквы!</span>
            </p>
            <p class="putForm__validation" *ngIf="form1.get('lastName').invalid && form1.get('lastName').touched">
              <span class="putForm__error form-text text-muted" id="textD"
                *ngIf="form1.get('lastName').errors['required']">Введите фамилию контакта!</span>
              <span class="putForm__error form-text text-muted" id="textD"
                *ngIf="form1.get('lastName').errors['pattern']">Фамилия контакта может содержать только латинские
                буквы!</span>
            </p>
          </div>
        </form>



        <div class="response" *ngIf="response">
          <ul class="list list-group">
            <li class="list__item list-group-item list-group-item-action ">
              <div class="list__text1">First name:</div>
              <div class="list__text2">{{firstName}}</div>
            </li>
            <li class="list__item list-group-item list-group-item-action">
              <div class="list__text1">Last name:</div>
              <div class="list__text2">{{lastName}}</div>
            </li>
            <li class="list__item list-group-item list-group-item-action">
              <div class="list__text1">Phone:</div>
              <div class="list__text2">{{phone}}</div>
            </li>
          </ul>

          <form class="putForm2" [formGroup]="form2" (ngSubmit)="onSubmit2()">
            <div class="putForm2__group form-group">
              <label class="putForm2__label" for="textId">Изменение телефона:</label>
              <div class="putForm2__input-group input-group">
                <input class="putForm2__text form-control" type="text" id="textId" aria-describedby="textD"
                  placeholder="новый телефон (например:+3XXXXXXXXXX)" formControlName="phone"
                  [ngClass]="{'has-error': form2.get('phone').invalid && form2.get('phone').touched}">
                <div class="putForm2__button-container input-group-prepend">
                  <button class="putForm2__button btn btn-outline-secondary" type="submit"
                    [disabled]="form2.invalid">Изменить</button>
                </div>
              </div>
              <p class="potForm2__validation" *ngIf="form2.get('phone').invalid && form2.get('phone').touched">
                <span class="putForm2__error form-text text-muted" id="textD"
                  *ngIf="form2.get('phone').errors['required']">Введите новый телефон!</span>
                <span class="putForm2__error form-text text-muted" id="textD"
                  *ngIf="form2.get('phone').errors['pattern']">Введите корректный номер телефона!</span>
              </p>
            </div>
          </form>

          <div class="messageServer">
            <p class="messageServer__text text-muted">{{message}}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>