.put {
  margin-top: 20px;
  .container {
    .putForm {
      .putForm__group {
        .putForm__label {
          font-family: "Helvetica", sans-serif;
          font-style: normal;
          font-size: 16px;
        }
        .putForm__input-group {
          .putForm__text {
            font-family: "Helvetica", sans-serif;
            font-style: normal;
            font-size: 16px;
          }
          .putForm__button-container {
            .putForm__button {
              font-family: "Helvetica", sans-serif;
              font-style: normal;
              font-size: 15px;
            }
          }
        }
        .putForm__validation {
          .putForm__error {
            font-family: "Helvetica", sans-serif;
            font-style: normal;
            font-size: 14px;
          }
        }
      }
    }
    .response {
      margin-top: 30px;
      .list {
        .list__item {
          display: flex;
          max-width: 300px;
          .list__text1 {
            min-width: 100px;
            font-family: "Helvetica", sans-serif;
            font-style: normal;
            font-size: 15px;
          }
          .list__text2 {
            font-family: "Helvetica", sans-serif;
            font-style: normal;
            font-size: 15px;
          }
        }
      }

      .putForm2 {
        margin-top: 30px;
        .putForm2__group {
          .putForm2__label {
            font-family: "Helvetica", sans-serif;
            font-style: normal;
            font-size: 16px;
          }
          .putForm2__input-group {
            .putForm2__text {
              font-family: "Helvetica", sans-serif;
              font-style: normal;
              font-size: 16px;
            }
            .putForm2__button-container {
              .putForm2__button {
                font-family: "Helvetica", sans-serif;
                font-style: normal;
                font-size: 15px;
              }
            }
          }
          .has-error {
            border: 1px solid red;
            box-shadow: 0 0 3px red;
          }
          .potForm2__validation {
            .putForm2__error {
              font-family: "Helvetica", sans-serif;
              font-style: normal;
              font-size: 14px;
            }
          }
        }
      }
      .messageServer {
        .messageServer__text {
          padding-top: 15px;
          text-align: center;
          font-family: "Helvetica", sans-serif;
          font-style: normal;
          font-size: 15px;
        }
      }
    }
  }
}
